body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: hsl(216, 33%, 97%);
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: background 1s ease-in-out;
}
.weatherForm {
  margin: 20px 20px;
}
.cityInput {
  width: 200px;
  height: 40px;
  border-radius: 15px;
  padding: 8px;
  margin: 5px;
  font-size: 20px;
  font-weight: bold;
}

button[type="submit"] {
  width: 200px;
  height: 50px;
  border-radius: 15px;
  padding: 5px;
  margin: 5px;
  font-size: 20px;
  cursor: pointer;
  background-color: hsl(34, 72%, 85%);
}

button[type="submit"]:hover {
  background-color: hsl(29, 58%, 89%);
}

.card {
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.467);
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border-radius: 15px;
  margin-top: 25px;
}

h1 {
  margin: 0;
  margin-bottom: 15px;
}

p {
  font-size: 1.4rem;
  margin: 0;
  margin-bottom: 15px;
}

.cityDisplay,
.temparature {
  font-size: 3rem;
  font-weight: bold;
}

.humidityDisplay,
.descriptionDisplay {
  font-weight: bold;
}
.descriptionDisplay {
  font-style: italic;
}

.emoji {
  font-size: 2.5rem;
}

.error {
  font-size: 1.7rem;
  font-weight: bold;
}
